@charset "UTF-8";

@font-face{
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}






:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3ddc84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;

    
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-padrao: 'Arial', Verdana, Helvetica, sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
   
}


header{
    background-image: linear-gradient(to bottom, var(--cor2),var(--cor5)  );
    padding-top: 40px; 
}

header h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;

}


header p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.3em;
    text-align: center;
    margin: auto;
    max-width: 550px;
    padding: 0px 10px;

}


nav{
    background-color: var(--cor5);
    padding: 10px;
    padding-top: 35px;
}


nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
    text-decoration: underline;
    transition-duration: 0.5s;
}

main{
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    min-width: 320px;


}

main img{
    width: 100%;
   
}


img.foto{
    display: block;
    margin: auto;
    max-width: 350px;

}


main h1{
    font-family: 'Android';
    color: var(--cor5);


}



main h2{
    font-family: 'Android';
    color: var(--cor4);
    background-image: linear-gradient(to right, #3ddc84, transparent );
}

main p{
    font-family: var(--fonte-padrao);
    line-height: 2em;
    font-size: 1.2em;
    text-indent: 30px;
}


aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;

}

aside  h3{
    background-color: var(--cor5);
    color: white;
    font-weight: bold;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
}

aside ul{
    columns: 2;
    list-style-position: inside;
}

footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover{
    color: #3ddc84;
    text-decoration: underline;

}



