@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    
   
    width: 100vh;
    height: 100vh;

}

body{
    background: url(../imagens/fundo-madeira.jpg);
}

main{
    position: relative;
    height: 100vh;
}


section#celular{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png )no-repeat ;

}